---
import type { GetStaticPaths } from 'astro'
import PokemonCard from '@components/PokemonCard.astro'
import MainLayout from '@layouts/MainLayout.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const API_URL = 'https://pokeapi.co/api/v2/pokemon?limit=151'
  const response = await fetch(API_URL)
  const { results } = (await response.json()) as PokemonListResponse

  return paginate(results, { pageSize: 18 })
}) satisfies GetStaticPaths

const { page } = Astro.props
const { currentPage, lastPage, url, data } = page
---

<MainLayout title={`Pokemons. Página ${currentPage} de ${lastPage}`}>
  <section class="relative">
    <nav class='flex justify-between space-x-4 mb-8 gap-4 absolute -top-[82px] w-full'>
      <a
        href={url.prev}
        class:list={['nav-btn', { disabled: !url.prev }]}
        >Anterior</a
      >
      <a
        href={url.next}
        class:list={['nav-btn', { disabled: !url.next }]}
        >Siguiente</a
      >
    </nav>
    <ul
      aria-label='Pokemon listado'
      class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4'
    >
      {
        data.map(({ name, url }) => (
          <PokemonCard
            name={name}
            url={url}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>

<style>
  .nav-btn {
    @apply px-4 py-2 bg-orange-700 rounded-md;
  }

  .disabled {
    @apply cursor-not-allowed bg-gray-500 pointer-events-none;
  }
</style>
