---
import type { GetStaticPaths } from 'astro'
import PokemonCard from '@components/PokemonCard.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components'
import PageHeader from '@components/shared/PageHeader.astro'
import PageTitle from '@components/shared/PageTitle.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const API_URL = 'https://pokeapi.co/api/v2/pokemon?limit=151'
  const response = await fetch(API_URL)
  const { results } = (await response.json()) as PokemonListResponse

  return paginate(results, { pageSize: 18 })
}) satisfies GetStaticPaths

const { page } = Astro.props
const { currentPage, lastPage, url, data } = page
const PAGE_TITLE = `Pokémons ${currentPage} de ${lastPage}`
---

<MainLayout title={PAGE_TITLE}>
  <PageHeader>
    <a
      href={url.prev}
      class:list={['btn', { 'btn-disabled': !url.prev }]}
    >
      <Icon
        name='arrow-left'
        size={40}
        title='Página anterior'
      />
    </a>
    <PageTitle>
      {PAGE_TITLE}
    </PageTitle>
    <a
      href={url.next}
      class:list={['btn', { 'btn-disabled': !url.next }]}
    >
      <Icon
        name='arrow-right'
        size={40}
        title='Siguiente página'
      />
    </a>
  </PageHeader>

  <section class='relative'>
    <ul
      aria-label='Pokemon listado'
      class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4'
    >
      {
        data.map(({ name, url }) => (
          <PokemonCard
            name={name}
            url={url}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
