---
interface Props {
  url: string
  name: string
  isBig?: boolean
}

const { url, name, isBig } = Astro.props
const id = url.split('/').at(-2)
---

<a href={`/pokemons/${name}`}>
  <article
    class:list={[
      'bg-slate-900 border border-slate-600 p-4 rounded-2xl',
      isBig && 'p-8'
    ]}
  >
    <img
      transition:name={`${name}-image`}
      src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`}
      alt={`Imagen de ${name}`}
      class:list={['mx-auto', { 'size-32': !isBig, 'size-96': isBig }]}
    />
    <h3 class:list={['text-center capitalize ', isBig && 'hidden']}>
      #{id}
      {name}
    </h3>
  </article>
</a>
