---
import Navbar from '@components/shared/Navbar.astro'
import { ViewTransitions } from 'astro:transitions'
import { SITE_INFO } from 'src/consts/site-info'

interface Props {
  title?: string
  description?: string
  image?: string
}

const { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE } = SITE_INFO

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = SITE_IMAGE
} = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='theme-color'
      content='#1e293b'
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:url'
      content={import.meta.url}
    />
    <meta
      property='og:title'
      content={title}
    />
    <meta
      property='og:description'
      content={description}
    />
    <meta
      property='og:image'
      content={image}
    />
    <ViewTransitions />
    <script is:raw src="https://identity.netlify.com/v1/netlify-identity-widget.js">
    </script>
  </head>

  <body class='bg-slate-800 text-slate-100'>
    <script>
      netlifyIdentity.setLocale('es');
    </script>
    <div data-netlify-identity-menu class="bg-slate-500" ></div>
    <div data-netlify-identity-button class="bg-green-600 p-4 rounded-md w-fit m-auto">Iniciar sesión</div>
    <Navbar />
    <main class='max-w-6xl mx-auto px-6 pb-12 relative'>
      <slot />
    </main>
    <style is:global>
      .btn {
        @apply bg-orange-700 hover:bg-orange-800 text-white font-bold rounded-xl size-10 grid place-content-center;
      }

      .btn-disabled {
        @apply cursor-not-allowed bg-slate-500 pointer-events-none;
      }
    </style>
  </body>
</html>
